**vue/
**dart/
**flutter/
**ui/
**ts-client/
**vendor
react/
**node_modules/
cmd/ollod/ollod
**dist
release/
.DS_Store
**ollopy/
./ollo/
.ollo/
./react/
github.com/
cosmossdk.io/
cosmos/
protogo/
protopy/
cosmwasm/
bin/
v:null
.idea
.build/*
.envrc
.vscode
/build
