[Unit]
Description=The OLLO Station network node daemon
After=network-online.target

[Service]
User=$USER
ExecStart=$(which ollod) start
Restart=always
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
